<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="3v.EvtSource" version="1.0.4" targetFramework="net47" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="NUnit" version="2.6.3" targetFramework="net47" />
  <package id="Reducto" version="0.9.4" targetFramework="net47" />
  <package id="Redux.NET" version="2.0.0" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview.2.build.379" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net47" />
  <package id="Transit" version="0.8.4-beta" targetFramework="net47" />
  <package id="Xamarin.UITest" version="2.0.8" targetFramework="net47" />
</packages>